@model IEnumerable<Models.AppUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderSubjectId)
            </th>
            <th>
                Number of claims
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderSubjectId)
            </td>
            <td>
                @if (item.Claims is null)
                {
                    <span>0</span>
                }
                else 
                {
                    @Html.DisplayFor(modelItem => item.Claims.Count)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
